[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
  signingkey = 0D0F75C0132BFC41
	name = Tanishq Dubey
	email = tdubey@clearstreet.io
[core]
	editor = nvim
[init]
  defaultBranch = develop
[color]
  ui = auto
[push]
  default = upstream
[commit]
	gpgsign = true
[credential]
	helper = store
